body {

    background: url(images/special_forces.jpg);
    background-size: cover;


}


.jumbotron
{
    background-color: transparent;
}


h1
{
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: 400;
    color: black;

}
h2
{
    font-family: "Times New Roman", Georgia, Serif;
    color: red;

}
.char
{
    display: inline-block;
    padding: 20px;
}

h3
{
    position: relative;
    top:225;
    opacity: 0.0;
    font-family: "Times New Roman", Georgia, Serif;
    color: black;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
